<% content_for :title, @title %>

<div class="container">
<h2 class="title is-2"> New Artist </h2>
<%= render 'notice/errors_full_messages', model: @artist %>
  <div class="content">
        <%= render 'form', artist: @artist %>
    </div>
</div>