<div class="field">
<h1> <%= @artist.name %> </h1>
<h1> <%= @artist.hometown %> </h1>
<p> <%= @artist.bio %> </p>
</div>

<div class="field">
  <%= link_to "Walls Done by #{@artist.name}", artist_walls_path(@artist), class: "button is-medium is-warning" %>
</div><br>

