<% content_for :title, "Uff! - Discover Street Art" %>
 <br><section class="hero is-small viole">
  <div class="hero-body">
        <ul>
            <li>
              <figure class="image is-4by3">
                <img src="/img/front.jpg" alt="Frontpage image">
              </figure>
            </li> 
      

        </ul>
  </div>
</section>

  <section class="section">
    <div class="container" id="homeLatest">

    <h2 class="title is-2">Latest Walls</h2>
        <%= render '/walls/walls', model: @latest_walls %>

      <div class="field column is-one-quarter">
    <%= link_to "Discovered a wall recently?", new_wall_path, class: "button is-warning" %>
  </div><br>
  </section>