  <% content_for :title, "Uff! - Discover Street Art" %>
  <section class="section">
    <div class="container">

    <h2 class="title is-2">Latest Walls</h2>
        <%= render '/walls/walls', model: @latest_walls %>

      <div class="field column is-one-quarter">
    <%= link_to "Discovered a wall recently?", new_wall_path, class: "button is-warning" %>
  </div><br>
  </section>