.love {
    color:#e25555;
}

.viole {
    background-color: #BF4080;
}

.goo {
    background-color: #43D376;
}

.lila {
    background-color: #D8B7F4;
}

#homeLatest {
    background-image: url("/img/1280.png");

}
